.lobby {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  padding: 20px;
  background-color: green;

  .lobby__appeals {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 10px;
    padding: 10px;
    border: 4px solid red;
    border-radius: 10px;
    background-color: lightgreen;

    .tag {
      position: absolute;
      span {
        position: relative;
        padding: 6px 12px;
        // border: 4px solid yellow;
        border-radius: 10px;
        background-color: pink;
        top: -28px;
        left: -8px;
        font-size: 15px;
        font-weight: bold;
        text-decoration: underline;
      }
    }

    .appeal-card {
      width: 120px;
      display: flex;
      flex-direction: column;
      margin-right: 10px;
      border: 4px solid red;
      border-radius: 10px;
      background-color: greenyellow;

      .appeal-card__photo {
        align-self: center;
        width: 60px;
        height: 60px;
        border: 4px solid red;
        border-radius: 10px;
        margin: 12px;
        background-color: greenyellow;
      }

      .appeal-card__name {
        text-align: center;
        font-size: 20px;
        font-weight: bold;
      }

      .appeal-card__content {
        text-align: center;
        font-size: 14px;
      }
    }
  }

  .lobby__suggestion {
    width: 100%;
    height: 320px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 10px;
    padding: 4px;
    border: 4px solid red;
    border-radius: 10px;
    background-color: lightgreen;

    .suggest {
      width: 420px;
      height: 100%;
      display: flex;
      flex-direction: column;
      padding: 6px 6px 2px 6px;
      background-color: greenyellow;

      .suggest__top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
        margin-bottom: 10px;

        span {
          padding: 2px 8px;
          border: 4px solid yellow;
          border-radius: 10px;
          background-color: yellow;
          font-size: 15px;
          font-weight: bold;
        }
        .suggest__top__types {
          button {
            padding: 6px 8px;
            border: none;
            border-radius: 10px;
            margin-left: 4px;
            color: white;

            &.project {
              background-color: lightblue;
            }
            &.study {
              background-color: lightgreen;
            }
            &.ctf {
              background-color: lightpink;
            }
          }
        }
      }

      .suggest__form {
        display: flex;
        flex-direction: column;
        height: 100%;

        input,
        textarea {
          height: 40px;
          padding: 4px;
          border: none;
          border-radius: 4px;
          background-color: white;
          color: black;
          text-align: start;

          &.title {
            margin-bottom: 4px;
          }
          &.content {
            width: 100%;
            height: 100%;
            resize: none;
          }
        }
      }

      .suggest__footer {
        display: flex;
        flex-direction: row;
        margin-top: 4px;
        align-self: flex-end;

        button {
          padding: 4px 16px;
          border: none;
          border-radius: 10px;
          color: white;
          margin-left: 4px;
          &.cancel {
            background-color: lightsalmon;
          }
          &.submit {
            background-color: salmon;
          }
        }
      }
    }

    .suggestions-list {
      height: 100%;
      width: 200px;
      display: flex;
      flex-direction: column;
      border-left: 4px solid red;
      border-right: 4px solid red;
      padding: 0px;
      background-color: greenyellow;

      .suggestions-list__title {
        width: 100%;
        list-style: none;
        margin-bottom: 2px;

        button {
          width: 100%;
          height: 34px;
          border-style: none;
          font-size: 16px;
          color: white;

          .new {
            font-size: 10px;
            vertical-align: top;
            border: 1px solid red;
            color: red;
            padding: 1px 4px;
            border-radius: 10px;
            margin-left: 6px;
          }
        }
        &:first-child button {
          background-color: lightgreen;
        }
        &:last-child button {
          background-color: lightblue;
        }
      }
    }

    .suggestion-chat {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      background-color: greenyellow;

      .suggestion-chat__title {
        border-bottom: 4px solid red;
        padding: 4px;
        font-size: 16px;
        font-weight: bold;
        background-color: lightgreen;
      }

      .suggestion-chat__room {
        height: 100%;
        list-style: none;
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        padding: 0px;
        .chat {
          display: flex;
          padding: 4px;
          margin: 4px;
          align-items: center;

          .chat__name {
            border-radius: 14px;
            background-color: lightcoral;
            color: white;
            padding: 6px 8px;
            margin-right: 8px;
            font-size: 12px;
          }
          .chat__msg {
            font-size: 14px;
          }
        }
      }

      .suggestion-chat__input {
        width: 100%;
        height: 60px;
        display: flex;
        flex-direction: row;
        border-top: 4px solid red;

        input {
          width: 100%;
          border-radius: 4px;
          background-color: white;
          padding: 4px 10px;
          &::placeholder {
            color: lightgray;
          }
        }
        button {
          width: 60px;
          padding: 6px 8px;
          border: none;
          border-radius: 10px;
          margin-left: 4px;
          color: white;
          background-color: violet;
        }
      }
    }
  }

  .lobby__rescuers {
    display: flex;
    flex-direction: column;
    margin-top: 20px;

    .rescuers__cardbox {
      width: 100%;
      height: 220px;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      padding: 10px;
      border: 4px solid red;
      border-radius: 10px;
      background-color: lightgreen;
    }
  }

  .lobby__activities {
    height: 320px;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    border: 4px solid red;
    border-radius: 10px;
    span {
      text-align: center;
      &:nth-child(1) {
        font-size: 80px;
      }
      font-size: 40px;
    }
  }

  .more-member-btn {
    border: none;
    border-radius: 8px;
    padding: 4px 8px;
    margin-top: 20px;
    background-color: orange;
    color: darkviolet;
    align-self: flex-end;
    font-size: 18px;
  }

  .lobby__members {
    .junior-members,
    .senior-members {
      display: none;
      margin-top: 20px;
      .member-cardbox {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        flex-flow: wrap;
        align-items: center;
        padding: 10px;
        border: 4px solid red;
        border-radius: 10px;
        background-color: lightgreen;
      }
    }
  }

  // Reused Styles
  .cardbox-tag {
    width: 120px;
    // border: 4px solid red;
    // background-color: yellow;
    padding: 2px 8px;
    color: white;
    font-size: 20px;
    // font-weight: bold;
    border-radius: 10px;
    text-align: left;
  }

  .member-card {
    width: 140px;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    border: 4px solid red;
    border-radius: 10px;
    background-color: greenyellow;

    .photo {
      align-self: center;
      width: 60px;
      height: 60px;
      border: 4px solid red;
      border-radius: 10px;
      margin: 12px;
      background-color: greenyellow;
    }
    .name {
      text-align: center;
      font-size: 16px;
      font-weight: bold;
    }
    .techs {
      text-align: center;
      font-size: 14px;
    }
    .description {
      font-size: 12px;
      margin: 6px;
      text-align: center;
      word-break: keep-all;
    }
  }
}

.sos {
}

.rank {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  padding: 10px 20px;
  background-color: green;

  .rank__board {
    display: flex;
    flex-direction: column;
    .title {
      width: 120px;
      position: relative;
      top: 10px;
      left: 340px;
      background-color: white;
      border-radius: 10px;
      // align-self: center;
      text-align: center;
      font-size: 18px;
    }

    .rank-box {
      width: 800px;
      height: 300px;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 10px;
      border: 4px solid red;
      border-radius: 10px;
      background-color: lightgreen;

      .rank-card {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        margin: 0px 4px;
        border: 4px solid red;
        border-radius: 10px;
        background-color: greenyellow;
        overflow: hidden;

        .rank-card__title {
          text-align: center;
          background-color: yellow;
          padding: 6px;
          color: black;
        }
        .rank-card__img {
          width: 100%;
          height: 100%;
          padding: 10px;
          // border: 4px solid white;
          // border-radius: 10px;
          background-color: red;
          align-self: center;

          p {
            color: white;
          }
        }
      }
    }
  }

  .rank__my {
    width: 800px;
    height: 160px;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    border: 2px solid red;
    border-radius: 10px;
    background-color: lightgreen;
    overflow: hidden;

    .word-my {
      width: 32px;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      padding: 40px 10px;
      color: white;
      background-color: red;
    }

    .settings {
      flex-grow: 3;
      display: flex;
      flex-direction: column;
      border: 2px solid red;

      .setting {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-self: center;
        background-color: yellow;
        .setting__title {
          min-width: 84px;
          align-self: center;
          text-align: center;
          border: 4px solid green;
          border-radius: 10px;
          padding: 20px;
        }
        .setting__field {
          width: 100%;
          height: 100%;
          align-self: center;
          align-items: center;
          padding: 10px;
          display: flex;
          flex-direction: row;
          background-color: greenyellow;
          border-radius: 6px;
          .checkbox {
            margin: 6px;
            text-align: center;
          }
          .label {
            text-align: center;
          }
        }
      }
    }

    .points {
      display: flex;
      flex-direction: column;
      flex-grow: 2;
      border: 2px solid red;

      .points__title {
        width: 100%;
        height: 40px;
        text-align: center;
        padding: 4px;
        background-color: yellow;
      }
      .points__point {
        display: flex;
        flex-direction: column;
        padding: 10px;

        span {
          margin-bottom: 10px;
        }
      }
    }
  }
}
